<section *ngIf="data" class="vacationDetailsForm" mat-dialog-content>
  <mat-form-field appearance="fill" class="vacationDetailsForm__user" color="warn">
    <mat-label>User</mat-label>
    <mat-select [(value)]="data.userId">
      <mat-option *ngFor="let user of users" [value]="user.id">{{ user.surname + ' ' + user.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="vacationDetailsForm__startDate" color="warn">
    <mat-label>Start date</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [(ngModel)]="data.startDate" placeholder="Start date">
      <input matEndDate [(ngModel)]="data.endDate" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field appearance="fill" class="vacationDetailsForm__type" color="warn">
    <mat-label>Type</mat-label>
    <mat-select [(value)]="data.type">
      <mat-option *ngFor="let type of VacationType" [value]="type">{{ type }}</mat-option>
    </mat-select>
  </mat-form-field>
</section>

<div class="vacationDetailsForm--action" mat-dialog-actions>
  <button (click)="onNoClick()" color="warn" mat-button>No Thanks</button>
  <button [mat-dialog-close]="data" color="accent" mat-button>Ok</button>
</div>
