<mat-toolbar class="mat-elevation-z8 navbar">
  <a mat-button routerLink="user">Users</a>
  <a mat-button routerLink="vacation">Vacation</a>
  <a mat-button routerLink="statistics">Statistics</a>
</mat-toolbar>
