<section class="vacationList">
  <button
    (click)="createNewVacation()"
    aria-label="Add new Vacation"
    class="vacationList__button--addVacation mat-elevation-z20"
    color="accent"
    mat-fab
    mat-raised-button>
    <mat-icon>add</mat-icon>
  </button>
  <table
    *ngIf="dataSource"
    [dataSource]="dataSource"
    class="mat-elevation-z8 vacationList__table"
    mat-table
  >
    <ng-container matColumnDef="startDate">
      <th *matHeaderCellDef mat-header-cell>Start date</th>
      <td *matCellDef="let element" mat-cell>{{ element.startDate }}</td>
    </ng-container>
    <ng-container matColumnDef="endDate">
      <th *matHeaderCellDef mat-header-cell>End date</th>
      <td *matCellDef="let element" mat-cell>{{ element.endDate }}</td>
    </ng-container>
    <ng-container matColumnDef="totalDuration">
      <th *matHeaderCellDef mat-header-cell>Total duration [h]</th>
      <td *matCellDef="let element" mat-cell>{{ element.totalDuration }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell>Type</th>
      <td *matCellDef="let element" mat-cell>{{ element.type }}</td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th *matHeaderCellDef mat-header-cell>User</th>
      <td *matCellDef="let element" mat-cell>{{ element.user.surname + ' ' + element.user.name }}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell class="text-center">Action</th>
      <td *matCellDef="let element" mat-cell class="text-center">
        <button
          (click)="deleteVacation(element)"
          aria-label="Delete vacation"
          class="table__button table__button--delete"
          color="warn"
          mat-mini-fab
          mat-raised-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
</section>
