.vacationList {
  margin-right: 1rem;
  margin-left: 1rem;

  &__table {
    width: 100%;
  }

  &__button--addVacation {
    z-index: 1;
    right: 2rem;
    top: 6.5rem;
    position: absolute;
  }
}

.table {
  &__button {
    margin: .5rem .2rem .5rem .7rem;
  }
}

tr:hover {
  filter: brightness(85%);
}
