<section class="userList">
  <button
    (click)="createNewUser()"
    aria-label="Add new user"
    class="userList__button--addUser mat-elevation-z20"
    color="accent"
    mat-fab
    mat-raised-button>
    <mat-icon>add</mat-icon>
  </button>
  <table
    *ngIf="dataSource"
    [dataSource]="dataSource"
    class="mat-elevation-z8 userList__table"
    mat-table
  >
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="surname">
      <th *matHeaderCellDef mat-header-cell>Surname</th>
      <td *matCellDef="let element" mat-cell>{{ element.surname }}</td>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <th *matHeaderCellDef mat-header-cell>Joining date in the company</th>
      <td *matCellDef="let element" mat-cell>{{ element.startDate }}</td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th *matHeaderCellDef mat-header-cell>Role</th>
      <td *matCellDef="let element" mat-cell>{{ element.role }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell>Status</th>
      <td *matCellDef="let element" mat-cell>{{ element.status }}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell class="text-center">Action</th>
      <td *matCellDef="let element" mat-cell class="text-center">
        <button
          (click)="editUser(element)"
          aria-label="Edit user"
          class="table__button table__button--edit"
          color="accent"
          mat-mini-fab
          mat-raised-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="deleteUser(element)"
          aria-label="Delete user"
          class="table__button table__button--delete"
          color="warn"
          mat-mini-fab
          mat-raised-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
</section>
