<section *ngIf="data" class="userDetailsForm" mat-dialog-content>
  <mat-form-field appearance="fill" class="userDetailsForm__key" color="warn">
    <mat-label>Key</mat-label>
    <input [(ngModel)]="data.key" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="userDetailsForm__password" color="warn">
    <mat-label>Password</mat-label>
    <input [(ngModel)]="data.password" matInput type="password">
  </mat-form-field>

  <mat-form-field appearance="fill" class="userDetailsForm__name" color="warn">
    <mat-label>Name</mat-label>
    <input [(ngModel)]="data.name" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="userDetailsForm__surname" color="warn">
    <mat-label>Surname</mat-label>
    <input [(ngModel)]="data.surname" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="userDetailsForm__startDate" color="warn">
    <mat-label>Joining date in the company</mat-label>
    <input [(ngModel)]="data.startDate" [matDatepicker]="picker1" matInput>
    <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="userDetailsForm__birthday" color="warn">
    <mat-label>Birthday</mat-label>
    <input [(ngModel)]="data.birthday" [matDatepicker]="picker2" matInput>
    <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="userDetailsForm__gender" color="warn">
    <mat-label>Gender</mat-label>
    <mat-select [(value)]="data.gender">
      <mat-option *ngFor="let gender of Gender" [value]="gender">{{ gender }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="userDetailsForm__martialStatus" color="warn">
    <mat-label>MartialStatus</mat-label>
    <mat-select [(value)]="data.martialStatus">
      <mat-option *ngFor="let martial of MartialStatus" [value]="martial">{{ martial }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="userDetailsForm__mobileNumber" color="warn">
    <mat-label>MobileNumber</mat-label>
    <input [(ngModel)]="data.mobileNumber" matInput type="number">
  </mat-form-field>

  <div class="userDetailsForm__status">
    <mat-checkbox [(ngModel)]="data.status">Status</mat-checkbox>
  </div>
</section>

<div class="userDetailsForm--action" mat-dialog-actions>
  <button (click)="onNoClick()" color="warn" mat-button>No Thanks</button>
  <button [mat-dialog-close]="data" color="accent" mat-button>Ok</button>
</div>
