.userDetailsForm {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding-bottom: 1rem;
  column-gap: 2rem;

  &__key {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__startDate {
    grid-column-start: 1;
  }

  &__gender {
    grid-column-start: 1;
  }

  &__mobileNumber {
    grid-column-start: 1;
  }

  &__status {
    grid-column-start: 1;
  }

  &--action {
    justify-content: end;
  }
}
